@use "global" as *;

.about-image__inner {
  position: relative;
}

.about-image__inner--about::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  top: rem(-70);
  left: calc(50% - min(48.5vw, rem(620)));
  background-image: url(../images/common/top-voice-fish2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @include mq("md") {
    width: rem(301);
    max-width: rem(1280);
    height: rem(138);
  }
}
.about-image__inner--top::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/top-about-coral.png) no-repeat top / contain;
    display: block;
    width: rem(194);
    height: rem(181);
    position: absolute;
    bottom: rem(-90);
    right: calc(50% - min(48.4vw, #{rem(638)}));
  }
}

// .about-image__inner.about-image__inner--change-illustration::before {
//   @include mq("md") {
//     width: rem(301);
//     height: rem(138);
//     bottom: rem(-178);
//     right: calc(50% - min(48.5vw, rem(650)));
//     background-image: url(../images/common/fish3.png);
//   }
// }

.about-image__img-wrap {
  // margin-top: rem(24);

  @include mq("md") {
    // margin-top: rem(-20);
  }
}

// .about-image__img-wrap.about-image__img-wrap--noheading {
//   margin-top: 0;
// }

.about-image__img-small {
  width: 37.1014%;
  z-index: 2;
  position: relative;
  @include mq("md") {
    // position: relative;
  }
}

.about-image__img-small img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.about-image__img-big {
  width: 81.45%;
  margin-top: -49%;
  margin-left: auto;
  z-index: 1;

  @include mq("md") {
    margin-top: -48.5%;
    margin-left: 20%;
    width: 81.45%;
  }
}
.about-image__img-big--about {
  margin-top: 0;
  width: 100%;
}

.about-image__img-big.top-about__img-big--bigger {
  // margin-top: 0;
  width: 100%;
  @include mq("md") {
    width: 81.45%;
    margin-top: -48.5%;
    margin-left: auto;
    z-index: 1;
  }
}
.about-image__img-big.top-about__img-big--w100 {
  width: 100%;
  @include mq("md") {
    width: 81.45%;
  }
}

.about-image__img-big img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.about-image__content-wrap {
  // margin-top: rem(-321);
  // left: 0;
  display: flex;
  flex-direction: column;

  @include mq("md") {
    margin-top: 0;
    width: 74.78%;
    position: absolute;
    top: 40%;
    left: 18%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.about-image__content-wrap--top {
  position: relative;
}

// .about-image__content-wrap.top-about__content-wrap--erase {
//   display: contents;

//   @include mq("md") {
//     display: flex;
//   }
// }

.about-image__content-title {
  display: block;
  position: absolute;
  top: rem(24);
  left: rem(39);
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  color: $white;
  // margin-left: rem(24);

  @include mq("md") {
    position: static;
    width: 50%;
    font-size: rem(80);
    line-height: 1.25;
    margin-left: 0;
  }
}
.about-image__content-title--top {
  color: $green1;
  left: 0;
  @include mq("md") {
    color: $white;
  }
}

.about-image__title.top-about__title--on-img {
  position: absolute;
  top: rem(24);
  left: rem(39);
  color: $white;

  @include mq("md") {
    position: static;
  }
}

.about-image__content-text-wrap {
  margin-top: rem(16);

  @include mq("md") {
    margin-top: 0;
    margin-left: rem(20);
    width: 55%;
  }
}
.about-image__content-text-wrap--top {
  margin-top: rem(136);

  @include mq("md") {
    margin-top: 0;
  }
}

.about-image__content-text {
  // margin-top: rem(241);
  line-height: 1.5;
  color: $black1;
  @include mq("md") {
    margin-top: rem(20);
    color: $white;
  }
}

.about-image__button {
  margin-top: rem(45);
  text-align: center;
  @include mq("md") {
  }
}
.about-image__illustration {
  @include mq("md") {
    position: absolute;
    width: rem(194);
    right: -0.981%;
    bottom: rem(-90);
  }
}
