@use "global" as *;

.inner.about__inner {
  position: relative;
  width: 100%;
  max-width: rem(600);
  @include mq("md") {
    max-width: rem(1130);
  }
}
.about__inner::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  top: rem(-25);
  left: calc(50% - min(48.5vw, rem(620)));
  background-image: url(../images/common/top-voice-fish2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @include mq("md") {
    top: rem(-80);
    width: rem(301);
    max-width: rem(1280);
    height: rem(138);
  }
}

.about__img-wrap {
  @include mq("md") {
    margin-top: rem(-20);
  }
}

.about__img-small {
  width: 37.1014%;
  z-index: 2;
}

.about__img-small img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  width: 100%;

  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.about__img-big {
  width: 100%;
  position: relative;
  z-index: -1;

  @include mq("md") {
    // position: absolute;
    // right: rem(25);
    margin-top: -47%;
    width: 78%;
  }
}

.about__img-big img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.about__content-wrap {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: 0;
    width: 74.78%;
    position: absolute;
    top: 40%;
    margin-left: rem(38);
    display: flex;
  }
}

.about__content-title {
  display: block;
  font-size: rem(40);
  font-weight: $regular;
  line-height: 1;
  color: $white;
  position: absolute;
  top: rem(24);
  left: rem(40);
  z-index: 3;

  @include mq("md") {
    width: 50%;
    font-size: rem(80);
    line-height: 1.25;
    color: $white;
    top: rem(195);
    left: rem(225);
  }
}
.about__content-text {
  @include mq("md") {
    display: block;
    width: 47%;
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.5;
    color: $white;
    position: absolute;
    top: rem(-15);
    left: rem(600);
    z-index: 3;
  }
}

.about__button {
  margin-top: rem(45);
  text-align: center;
  @include mq("md") {
  }
}

.about__title {
  margin-top: rem(120);
  position: relative;
}
.about__title::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(301);
    height: rem(138);
    top: rem(10);
    right: calc(50% - min(48.5vw, rem(636)));
    background-image: url(../images/common/top-voice-fish2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.about__gallery {
  display: flex;
  flex-wrap: wrap; /* アイテムが折り返すように設定 */
}

.about__gallery-item-small {
  display: flex;
  flex-direction: column;
}
.about__gallery-item {
  width: rem(580);
  flex: 1; /* 幅を均等に分割 */
  padding: rem(8); /* アイテム間の余白を設定 */
  box-sizing: border-box; /* paddingが要素の幅に含まれるようにする */
}
.about__gallery-item img,
.large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__gallery-item img {
  aspect-ratio: 580 / 369;
}
