@use "global" as *;

.inner.blog-detail__inner {
  position: relative;
  width: 100%;
  max-width: rem(600);
  @include mq("md") {
    max-width: rem(1130);
  }
}

.blog-detail__inner::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  top: rem(-25);
  left: calc(50% - min(48.5vw, rem(620)));
  background-image: url(../images/common/top-voice-fish2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    top: rem(-75);
  }
}
.blog-detail__side {
  margin-top: rem(95);
  @include mq("md") {
    margin-top: rem(10);
  }
}
// .blog-detail__item {
//   @include mq("md") {
//     width: calc(50% - rem(20));
//   }
// }
// .blog-detail__contents {
//   column-gap: rem(20);
//   @include mq("md") {
//     display: flex;
//     justify-content: space-between;
//   }
// }
// .blog-detail__main {
//   @include mq("md") {
//     width: 65.37%;
//   }
// }
// .blog-detail__button {
//   margin-left: auto;
//   margin-right: auto;
// }
/* styles.css */
// .blog-archive__link {
//   list-style: none;
//   padding: 0;
// }

// .blog-archive__year {
//   margin-bottom: 10px;
// }

// .blog-archive__year a {
//   font-weight: bold;
//   text-decoration: none;
//   color: $green1;
// }

// .blog-archive__month {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   display: none; /* 初期状態では非表示 */
// }

// .blog-archive__month li {
//   margin-left: 20px;
// }

// .blog-archive__month a {
//   text-decoration: none;
//   color: $green1;
// }

// /* ドリルダウンのためのスタイル */
// .blog-archive__year:hover .blog-archive__month {
//   display: block;
// }
