@use "global" as *;

.blog-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black2, $alpha: 0.25);
  background-color: $white;
  // padding-left: rem(6);
  // padding-right: rem(6);
  // @include mq("md") {
  //   margin-left: 0;
  //   margin-right: 0;
  // }
}
.blog-card__link {
  display: inline-block;
  padding: rem(16) rem(17);
  // padding-bottom: rem(24);
}
.blog-card__link:hover {
  opacity: 0.7;
}
.blog-card__img-wrap img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog-card__body {
  margin-top: rem(22);
}
.blog-card__text {
  margin-top: rem(19);
  line-height: 1.5;
}
.blog-card__date {
  display: inline-block;
  font-size: rem(12);
  line-height: 1;
}
.blog-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  border-bottom: rem(1) solid $green1;
}
