@use "global" as *;

.details {
  width: 100%;
  // @include mq("md") {
  // max-width: rem(700);
  // margin-left: auto;
  // margin-right: auto;
  // }
}
.details:not(:first-child) {
  margin-top: rem(34);
  @include mq("md") {
    margin-top: rem(30);
  }
}
.details__summary {
  position: relative;
  display: block;
  padding: rem(16);
  color: #fff;
  font-size: rem(16);
  font-weight: $regular;
  text-align: left;
  background-color: $green1;
  border: 1px solid $green1;

  &:hover {
    cursor: pointer;
  }
  &.is-active {
    .details__btn {
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      top: 5%;
      right: 4%;
      @include mq("md") {
        top: 15%;
        right: 4%;
      }

      &:before {
        content: none;
      }
    }
  }
  @include mq("md") {
    top: 35%;
    right: 0;
    font-size: rem(20);
    padding: rem(26) rem(40) rem(25);
  }
}
.details__btn {
  position: absolute;
  top: 23%;
  right: 2%;
  width: rem(40);
  height: rem(40);
  transform-origin: center center;
  transition-duration: 0.2s;
  @include mq("md") {
    top: 27%;
    right: 3%;
  }

  &:before,
  &:after {
    content: "";
    background-color: #fff;
    border-radius: rem(10);
    width: rem(30);
    height: 1px;
    position: absolute;
    // top: rem(13);
    // left: 0;
    top: rem(15);
    left: 0;
    transform-origin: center center;
  }
  &:before {
    width: 1px;
    height: rem(30);
    top: 0;
    left: rem(14);
  }
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details__content {
  padding: rem(22) rem(16) rem(22);
  .close-btn {
    display: block;
    margin: 0 auto;
    padding: rem(8) rem(32);
    background: $green1;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 1.6;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
    border: 1px solid $green1;
  }
}
