@use "global" as *;

.hamburger {
  width: rem(32);
  height: rem(24);
  padding: rem(1);
  position: relative;
  cursor: pointer;
  z-index: 9999;
}

.hamburger span {
  position: relative;
  display: block;
  width: rem(32);
  height: rem(1);
  background-color: $white;
  transition: transform 0.3s, opacity 0.3s, width 0.3s;
  cursor: pointer;
}

.hamburger span:nth-child(1) {
  top: rem(-11);
}

.hamburger span:nth-child(2) {
  top: 0;
}

.hamburger span:nth-child(3) {
  top: rem(11);
}

.hamburger.is-active span {
  width: rem(40);
}

.hamburger.is-active span:nth-child(1) {
  transform: translateX(rem(-4)) translateY(rem(12)) rotate(36.87deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateX(rem(-4)) translateY(rem(-12)) rotate(-36.87deg);
}
