@use "global" as *;

.pc-nav {
  color: $white;
}

.pc-nav__items {
  display: flex;
  height: inherit;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: clamp(1rem, 1.389vw, 1.25rem);
  padding-right: clamp(1rem, 1.389vw, 1.25rem);
}
.pc-nav__item a {
  color: $white;
}

.pc-nav__item-en::first-letter {
  text-transform: capitalize;
}

.pc-nav__item.pc-nav__item--faq a {
  text-transform: uppercase;
}

.pc-nav__item a:hover {
  opacity: 1;
}

.pc-nav__item-wrap {
  position: relative;
}

.pc-nav__item-en {
  display: block;
  text-align: center;
  font-size: rem(18);
  line-height: 1;
}

.pc-nav__item-wrap::after {
  content: "";
  position: absolute;
  width: 100%;
  height: rem(1);
  background-color: $white;
  bottom: rem(-4);
  left: 0;
  transform: scale(0, 1); /*X方向0、Y方向1（X方向が0なので非表示）*/
  transform-origin: center top; /*中央から表示*/
  transition: transform 0.3s;
}

.pc-nav__item a:hover .pc-nav__item-wrap::after {
  @include mq("md") {
    transform: scale(1, 1); /*マウスホバー時にX方向を1にして下線表示*/
  }
}

.pc-nav__item-jp {
  display: block;
  margin-top: rem(7);
  font-size: rem(10);
  text-align: center;
  line-height: 1;
}
