@use "global" as *;

.title-whale-icon span {
  position: relative;
  padding-left: rem(75);
  font-size: rem(24);
  border-left: 8px solid $green1;
}
.title-whale-icon span::before {
  content: "";
  position: absolute;
  width: rem(50);
  height: rem(50);
  top: rem(-10);
  left: rem(-15);
  margin-left: rem(35);
  background-image: url(../images/common/title-whale-img1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s background-color;
}
