@use "global" as *;

.title {
  text-align: center;
}

.title__sub {
  font-size: rem(32);
  font-weight: $normal;
  line-height: 1;

  @include mq("md") {
    font-size: rem(40);
  }
}
.title__sub--big {
  font-size: rem(80);
  @include mq("md") {
    font-size: rem(80);
  }
}

.title__sub::first-letter {
  text-transform: capitalize;
  color: $green1;
}

.title__sub.title__sub--white {
  @include mq("md") {
    color: $white;
  }
}
.title__sub.title__sub--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.title__main {
  margin-top: rem(10);
  font-size: rem(12);
  font-weight: $normal;
  font-family: "Noto Sans JP", sans-serif;
  color: $green1;

  @include mq("md") {
    margin-top: rem(8);
  }
}

.title__main.title__main--white {
  @include mq("md") {
    color: $white;
  }
}

.title__main--big {
  margin-top: rem(-5);
  @include mq("md") {
    margin-top: rem(-10);
  }
}
