@use "global" as *;

.top-pagetop {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  width: rem(48);
  height: rem(48);
  right: rem(15);
  bottom: rem(20);
  transition: opacity 0.3s;
  border: rem(1) solid $green1;
  border-radius: 50px;

  @include mq("md") {
    right: rem(20);
    width: rem(80);
    height: rem(80);
  }
}

.top-pagetop::before {
  position: absolute;
  content: "";
  width: rem(7);
  height: rem(10);
  border-top: rem(1) solid $green1;
  top: rem(11);
  left: 44%;
  transform: rotate(-45deg);

  @include mq("md") {
    width: rem(10);
    top: rem(23);
    left: 42%;
  }
}

.top-pagetop::after {
  position: absolute;
  content: "";
  width: 1px;
  height: rem(25);
  background-color: $green1;
  top: rem(10);
  left: 50%;
  transform: translateX(-50%);

  @include mq("md") {
    top: rem(20);
    height: rem(40);
  }
}

.top-pagetop:hover {
  opacity: 0.7;
}

.top-pagetop a {
  display: block;
  border: transparent;
}
