@use "global" as *;

.top-voice__inner {
  position: relative;
}

.top-voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(301);
    height: rem(138);
    top: rem(-121);
    left: calc(50% - min(48.5vw, rem(620)));
    background-image: url(../images/common/top-voice-fish2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.top-voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(71);
    height: rem(162);
    bottom: rem(-70);
    right: calc(50% - min(48.5vw, rem(540)));
    background-image: url(../images/common/top-seahorse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.top-voice__cards {
  margin-top: rem(44);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.top-voice__button {
  margin-top: rem(35);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}
