@use "global" as *;

.top-blog {
  position: relative;

  @include mq("md") {
    padding-top: rem(100);
  }
}

.top-blog__bg {
  @include mq("md") {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60.168%;
  }
}

.top-blog__bg img {
  @include mq("md") {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.top-blog__inner {
  position: relative;
}

.top-blog__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(437);
    height: rem(201);
    top: rem(-76);
    left: calc(50% - min(48.5vw, rem(600)));
    background-image: url(../images/common/top-blog-fish1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.top-blog__cards {
  margin-top: rem(26);
  padding: 0 rem(6);

  @include mq("md") {
    padding: 0;
    margin-top: rem(80);
    display: grid;
    justify-content: space-between;
  }
}

.top-blog__button {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(80);
  }
}
