@use "global" as *;

.voice-cards {
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.voice-cards__item + .voice-cards__item {
  margin-top: rem(35);

  @include mq("md") {
    margin-top: 0;
  }
}
