@use "global" as *;

.wp-pagenavi {
  clear: both;
  text-align: center;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  // width: rem(38);
  // height: rem(38);
  @include mq("md") {
    justify-content: center;
  }
}
.wp-pagenavi__page {
  // width: 100%;
  display: flex;
  // justify-content: space-between;
  // margin: 0 rem(25);
  @include mq("md") {
    justify-content: center;
  }
}
.wp-pagenavi--detail {
  gap: rem(82);
}

.wp-pagenavi a,
.wp-pagenavi span {
  color: $green1;
  background-color: $white;
  padding: rem(7);
  margin: 0 rem(6);
  width: rem(38);
  height: rem(38);
  text-align: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-align: center;
  text-decoration: none;
  border: 1px solid $green1;
}
// .wp-pagenavi--detail a {
//   margin: 0 rem(41);
// }
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  color: $white;
  background-color: $green1;
}
.wp-pagenavi a.wp-pagenavi__previouspostslink {
  // width: rem(38);
  // height: rem(38);
  margin-right: rem(34);
}
// .wp-pagenavi__previouspostslink a {
//   width: 100%;
// }
// .wp-pagenavi__previouspostslink--detail {
//   margin-right: rem(41);
// }
.wp-pagenavi a.wp-pagenavi__nextpostslink {
  // width: rem(38);
  // height: rem(38);
  margin-left: rem(34);
}
// .wp-pagenavi__nextpostslink a {
//   width: 100%;
// }
// .wp-pagenavi__nextpostslink--detail {
//   margin-left: rem(41);
// }

// .page-numbers {
//   display: flex;
// }

.wp-pagenavi .larger:nth-child(n + 5) {
  display: none;
  @include mq(md) {
    display: block;
  }
}
